
.sidebar {
  padding: 10px;
  background-color: #ddd;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh;
  overflow-y: scroll;

  /* Custom scrollbar styles */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: blue;
  }

  &::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #666;
  }
}

.sidebar__logo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
